@model ReservationsCreateViewModel
@{
    ViewData["Title"] = @Translations.Reservation;
}

<form asp-action="Add">

    <div class="form-control">
        <label>Date time from</label>
    </div>
    <input asp-for="DateTimeFrom" />
    <div class="form-control">
        <label>Date time from</label>
        <input asp-for="DateTimeFrom" />
    </div>
    <div class="form-control">
        <label>Fitness rooms</label>
        <select asp-for="FitnessRoomId" asp-items="Model.FitnessRooms"></select>
    </div>
    <div class="form-control">
        <label>Coaches</label>
        <select asp-for="CoachId" asp-items="Model.Coaches"></select>
    </div>
    <div class="form-control">
        <label>User</label>
        <input asp-for="UserId" readonly />
    </div>
    <input class="btn btn-block btn-facebook" type="submit" value="Add" />

</form>