
@model ReservationsCreateViewModel

<form asp-action="Submit">

    <label>Date time from</label>
    <input asp-for="DateTimeFrom"/>

    <label>Date time to</label>
    <input asp-for="DateTimeTo"/>

    <label>Fitness rooms</label>
    <select asp-for="FitnessRoomId" asp-items="Model.FitnessRooms"></select>

    <label>User</label>
    <input asp-for="UserId"/>
    
    <input type="submit" value="Submit"/>
</form>