@model IEnumerable<Announcement>


<li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bullhorn"></i>
        <span class="badge badge-danger badge-counter">@Model.Count()</span>
    </a>
    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
         aria-labelledby="alertsDropdown">
        <h6 class="dropdown-header">
            @Translations.Announcements
        </h6>
        @foreach (var announcement in Model)
        {
            <a class="dropdown-item d-flex align-items-center">
                <div class="mr-3">
                    <div class="icon-circle bg-primary">
                        <i class="fas fa-file-alt text-white"></i>
                    </div>
                </div>
                <div>
                    <span class="font-weight-bold">@announcement.Description</span>
                    <div class="small text-gray-500">@announcement.Title</div>
                </div>
            </a>
        }
    </div>
</li>

