@using FitnessCenter.Web.Utilities.Constants
@model UserChangePasswordVM
@inject UserManager _userManager

@if (_userManager.IsInRoles(Role.Administrator))
{
    <div class="modal" id="passwordModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Change password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-controller="Users" asp-action="change_password" method="POST" id="formId" class="formWidth">
                        <div class="form-group">
                            <input asp-for="UserId" hidden="hidden" />
                        </div>
                        <div class="form-group">
                            <label>New password:</label>
                            <input asp-for="NewPassword" type="password" class="form-control form-control-user" placeholder="New password" />
                        </div>
                        <div class="form-group">
                            <label>Confirm password:</label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control form-control-user" placeholder="Confirm password" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div id="submitBtn">
                        <input type="button" class="btn btn-primary" value="Save changes" name="Save changes">
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

}
else
{
    <a href="/Home/Index"> Back </a>
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#passwordModal").modal('show');

        $("#submitBtn").click(function () {
            $("#formId").submit();
            $("#passwordModal").modal('hide');
            location.reload();
        });

        $(".close").click(function () {
            location.reload();
        });
    });
</script>

