@{
    @model UsersIndexViewModel
}

<table class="table table-bordered">

    <thead>
        <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Username</td>
                <td>@user.Email</td>
           </tr>

        }
    </tbody>
</table>