@model EventsManageViewModel

@{
    if (Model.Id == 0)
    {
        ViewData["Title"] = Translations.EventAdd;
    }
    else
    {
        ViewData["Title"] = Translations.EventEdit;
    }
}
<form asp-action="Manage" asp-controller="Events" method="post" enctype="multipart/form-data">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary">@ViewData["Title"]</h5>
        </div>
        <div class="card-body">
            <input asp-for="Id" type="hidden" />
             <input asp-for="UserId" type="hidden" />

              <div class="form-group">
                <label asp-for="Name"></label>
                <input class="form-control" asp-for="Name" placeholder="Name"/>
            </div>

             <div class="form-group">
                <label asp-for="About"></label>
                <input class="form-control" asp-for="Name" placeholder="About"/>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" placeholder="@Translations.Description">
            </div>

             <div class="form-group mb-0">
                <label asp-for="Photo"></label>
                <input asp-for="Photo" accept="image/" />
            </div>
            <div class="form-group mb-0">
                <label asp-for="Location"></label>
                <input asp-for="Location" class="form-control" placeholder="@Translations.Location">
            </div>
             <div class="form-group">
                <label asp-for="DateTime"></label>
                <input class="form-control" asp-for="DateTime" placeholder="DateTime"/>
            </div>
        </div>
        <div class="card-footer py-3">
            <button type="submit" class="btn btn-primary">@Translations.Submit</button>
        </div>
    </div>
</form>